<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Video</title>
  </head>
  <body>
    <div>
      <video width="600" controls>
        <source src="/video/WIN_20241005_11_17_35_Pro.mp4" type="video/mp4" />
      </video>
    </div>
  </body>
</html>
