<footer id="footer">
    <div class="footer container">
      <p>You can reach me at <a href="mailto:barnabas.agbekorode@ontariotechu.net">barnabas.agbekorode@ontariotechu.net</a></p>
      <p>&copy; 2024 B.A. All rights reserved</p>
    </div>
  </footer>
  