
<section id="aboutme">
  <div class="about container">
    <div class="colLeft">
      <div class="aboutImg">
        <img src="/images/img1.png.jpg" alt="Barnabas" />
      </div>
    </div>
    <div class="colRight">
      <h1 class="sectionTitle">About <span>Me</span></h1>
      <article>
        <h2>Technology Management Student</h2>
        <p>Hi, I'm Barnabas Agbekorode, </p>
        <p>and I'm passionate about technology and cybersecurity.</p>
      </article>
      <a href="/video" class="btn" target="_blank">Short Video</a>
    </div>
  </div>
</section>
