<% layout('layout') %>
<section id="projects">
  <div class="projects container">
    <h1 class="sectionTitle">My Projects</h1>
    <p>Here are some projects I've worked on...</p>
    <div class="projectItem">
      <div class="projectInfo">
        <h1>Youtube Replica</h1>
        <p>I tried making a replica of the YouTube home screen with some random videos.</p>
      </div>
      <div class="projectImg">
        <img src="/public/images/pro1.jpeg" alt="Youtube Replica" />
      </div>
    </div>
    <div class="projectItem">
      <div class="projectInfo">
        <h1>Random Links</h1>
        <p>I was experimenting with HTML to add links in different ways.</p>
      </div>
      <div class="projectImg">
        <img src="/public/images/pro2.jpeg" alt="Random Links Project" />
      </div>
    </div>
  </div>
</section>
